<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Fatec Assistant
    </ion-title>
  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">
  <ion-text color="dark">

  </ion-text>
  <div id="container">
    <h4>Escolha um assunto:</h4>
    <ion-button class="mybtn" shape="round" fill="outline" (click)="openMonographAssistant()">Monografia</ion-button>
    <br>
    <ion-button class="mybtn" shape="round" fill="outline" (click)="openTechnicalStandardsAssistant()">Normas Técnicas
    </ion-button>
  </div>
</ion-content>
